.coming-soon {
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.inner-bg {
    padding: 75px 0 40px 0;
}

.coming-soon .logo {
	padding-bottom: 20px;
}

.coming-soon .logo h1 {
	margin: 0;
}

.coming-soon .logo a {
	display: inline-block;
	width: 200px;
	height: 110px;
	background: center center no-repeat;
	text-indent: -99999px;
}
.coming-soon .logo a:focus { outline: 0; }

.coming-soon .logo a:before {
	width: 0;
	height: 0;
	visibility: hidden;
}

.coming-soon p {
	margin: 40px 0 10px 0;
	padding: 0 320px;
    font-size: 22px;
    line-height: 36px;
}