.base_menu {
	color: $primary-font-color;
	font-family: "proxima-nova-alt-n1",Arial,Verdana,Tahoma,"DejaVu Sans",sans-serif;
	font-style: normal;
	font-weight: 100;
	background-color: $primary-color;
}