.coming-soon {
    margin: 0 auto;
    text-align: center;
    color: #fff;
    min-height: 30em;
    background-image: url("img/Header_image.png");
    background-size: 100%;
    background-repeat: no-repeat;

}

.inner-bg {
    padding: 75px 0 40px 0;
}

.coming-soon .logo {
	padding-bottom: 20px;
	padding-right: 10px;
}

.coming-soon .logo h1 {
	margin: 0;
}

.coming-soon .logo a {
	display: inline-block;
	width: 200px;
	height: 110px;
	background: center center no-repeat;
	text-indent: -99999px;
}
.coming-soon .logo a:focus { outline: 0; }

.coming-soon .logo a:before {
	width: 0;
	height: 0;
	visibility: hidden;
}

.coming-soon p {
	margin: 40px 0 10px 0;
	padding: 0 320px;
    font-size: 22px;
    line-height: 36px;
}
.tagline {
	color:#ffffff;
	font-weight: 600;
}
.tagline > a {
	@extend .tagline;
}
.tagline > a:hover {
	text-decoration: none;
}
.sitename {
	height: 42px;
}
.sitename > a{
	@extend .tagline;
	height: 42px;
}
.sitename > a:hover {
	text-decoration: none;
}
@media (max-width: 550px)
{
	.tagline {
		text-align: center;
	}
}