.comments-ober-container {
	
}
.comments-container {
	padding-bottom: 3em;
	
		margin-top:2em;

	.comments-background-white-wrapper {
		background-color: $primary-color;
		padding-bottom: 1em;
	}
	
	.comments-row {
		text-align: left;
	}	
	a:hover {
		text-decoration: none;
	}
	.comment-list {
		padding-top: 1em;
		padding-bottom: 2em;
		padding-right: 2em;
		padding-left: 2em;
		background-color: $primary-color;
	}
	.comments-title {
		text-transform: none;
		padding-bottom: .5em;
		text-align: left;
		font-weight: 800;

	}

	li.comment, li.pingback {
		@extend .col-md-12;
		@extend .col-sm-12;
		font-size: 1.1em;
		list-style-type: none;
		@extend .charcoal-grey;
		
		
		
		.commentmetadata {
			display:none;
		}

		.comment-body {
			@extend blockquote;
			border-left: none;
			margin-top:.1em;
			margin-bottom: .1em;
			@extend .light-grey-background;
			.comment-author, .comment-meta {
				background-color: transparent;
			}
		
				
		
		}
		

		ol.children {
			padding-left:0px;
			@extend .row;
			li {
				@extend .col-md-12;
				@extend .col-sm-12;
				
			}
			ol.children :last-child {
				margin-bottom:0;
				padding-bottom: 0;
			}
			ol.children {
				padding-left:0px;
				@extend .row;
				li {
					@extend .col-md-12;
					@extend .col-sm-12;
				}
				ol.children :last-child {
					margin-bottom:0;
					padding-bottom: 0;
				}
				ol.children {
					padding-left:0px;
					@extend .row;
					li {
						@extend .col-md-12;
						@extend .col-sm-12;
					}
					ol.children :last-child {
						margin-bottom:0;
						padding-bottom: 0;
					}
				}
			}
		}

		
	}
	.avatar {
		@extend .img-circle;
		
	}
	.avatar:hover {
		@extend .img-circle;
	}

	.comment-form-wrapper {
		margin-top: 2em;
	}
	
	.comment-form-white-background {
		
		margin-top: 3em;
	}
	.comment-form-container {
		background-color: $primary-color;
		padding-top: 1em;
		padding-bottom: 1em;
		padding-right: 3em;
		padding-left: 3em;
		@media(max-width: 320px){
			margin-left: 2.5%;
			margin-right: 2.5%;
			width:95%;
		}
		@media(max-width: $screen-md-max){
			padding-left:1em;
			padding-right: 1em;
		}
	}
	.form-allowed-tags {
		code {
			color: #000000;
			background-color: inherit;
		}
	}
	.comment-reply-title {
		text-transform: none;
	}
	.comment-respond {
		@extend .pull-left;
		text-align: left;
		padding:2em;
		padding-left:1em;
		width:90%;
		@media (max-width:$screen-sm-min){
			width:90%
		}
	}
	.form-submit > input#submit {
		display: none !important;
	}
	.form-allowed-tags {
		display: none;
	}	
	
	#subscribe-label,
	#subscribe-blog-label {
		font-weight: 400;
	}
	.comment-form-comment {
		label {
			display:none;
		}
	}
	.comment-form-author,
	.comment-form-email,
	.comment-form-url,
	#comment {
    	
		width:100%;	
		

	}
	#comment {
		height: 7em;
	}
	.comment-submit-btn {
		color: $primary-color;
		background-color: $highlight-color;
		font-size: 1.1em;
	}		
	
	
}