
/* fonts */
$font: Monteserrat, Arial, Verdana, Tahoma, sans-serif;
$font-size: 16px;
$font-base-weight: 300;

/* colors */
$primary-color: #ffffff;
//$primary-accent-color: grey; //grey gradiant
$highlight-color: rgb(232, 77, 14); //orange to match nico
