.clear-padding {
	padding: 0 0 0 0;
}
.clear-margin{
	margin: 0 0 0 0;
}
.auto-center-margin {
	margin-left: auto;
	margin-right: auto;
}
.auto-vertical-center-margin {
	margin-top: auto;
	margin-bottom: auto;
}
.onehundred-percent {
	width: 100%;
}
.container {
	@extend .clear-padding;
	@extend .onehundred-percent;
}
.container-fluid {
	@extend .clear-padding;
	@extend .onehundred-percent;
}
html {
	@extend .clear-margin;
}
.col-md-offset-1_5 {
	@extend .col-md-offset-1;
	margin-left: 12.5%;
}
.col-sm-offset-1_5 {
	@extend .col-sm-offset-1;
	margin-left: 12.5%;
}
.col-md-3_5 {
	@extend .col-md-3;
	width: 29.1667%;
}
.col-sm-3_5 {
	@extend .col-sm-3;
	width: 29.1667%;
}
.col-xs-3_5 {
	@extend .col-xs-3;
	width: 29.1667%;
}
.col-md-6_5 {
	@extend .col-md-6;
	width:58.332%;
}
.col-sm-6_5 {
	@extend .col-sm-6;
	width:58.332%;
}