@import "base_menu";
@import "menu_effects";

.top-navigation {
	@extend .base_menu;
	@extend .navbar-default;
	margin-bottom: 0px;
}
.top-navigation-menu {
	text-align: center;
	text-transform: uppercase;
}
.menu-item {
	float: none;
}
li.menu-item > a {
	font-size: 1.4em;
	font-weight: 500;
	color: #000000;
}
li.menu-item > a:hover {
	color: $primary-color;
	background-color: $highlight-color;
}
li.menu-item .active > a:focus {
	color: $highlight-color;
	background-color: $primary-color;
}
@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}
$bgDefault      : #ffffff;
$bgHighlight    : #e84d1c;
$colDefault     : #000000;
$colHighlight   : #e84d1c;
.top-navigation {
	background-color: $bgDefault;
	border-top-color: $bgHighlight;
	.navbar-brand {
		color: $colDefault;
		&:hover { 
			color: $colHighlight;
			background-color: $bgDefault; }}
	.navbar-text {
		color: $colDefault; }
	.navbar-nav {
		> li {
			> a {
				color: $colDefault;
				&:hover {
					color: $colHighlight;
					background-color: $bgDefault;
					 }}}
		> .active {
			> a, > a:hover {
				background-color: $bgDefault;
				color: $bgHighlight; }}
		> .open {
			> a, > a:hover {
				color: $colHighlight;
				background-color: $bgDefault; }}}
	.navbar-toggle {
		border-color: $bgHighlight;
		&:hover {
			background-color: $bgDefault; 
			color: $bgHighlight;
			}
		.icon-bar {
			background-color: $colDefault; }}
	.navbar-collapse,
	.navbar-form {
		border-color: $colDefault; }
	.navbar-link {
		color: $colDefault;
		&:hover {
			color: $colHighlight;
			background-color: bgDefault;
			 }}}
	 // Open dropdowns
  .dropdown-toggle, .dropdown .open > a {
    &,
    &:hover,
    &:focus {
      background-color: $bgDefault;
      border-color: $link-color;
    }
  }
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu {
		> li > a {
			color: $colDefault;
			background-color: bgDefault;
			&:hover {
				color: $colHighlight;
				background-color: bgDefault;
				 }}
		> .active {
			> a, > a:hover {
				color: $colHighlight;
				background-color: $bgDefault; }}}
}
.top-navigation {
	.menu-spacer {
		width: 4.5em;
	}
}