.uppercase {
	text-transform: uppercase;
}
.no-decoration {
	text-decoration: none;
}
h1 {
	font-size: 2.5em;
	@extend .uppercase;
}
h2 {
	font-size: 2.375em;
	@extend .uppercase;
}
h3 {
	@extend .uppercase;
}
h4 {
	@extend .uppercase;
}
h5 {
	@extend .uppercase;
}
h6 {
	@extend .uppercase;
}