.uppercase {
	text-transform: uppercase;
}
.no-decoration {
	text-decoration: none;
}
h1 {
	
	@extend .uppercase;
	
}
h2 {
	
	@extend .uppercase;
}
h3 {
	@extend .uppercase;
	
}
h4 {
	@extend .uppercase;
}
h5 {
	@extend .uppercase;
}
h6 {
	@extend .uppercase;
}
.lolly-sc-quote {
	display: inline-block;
	height:1.2em;
	.social-icon {
		text-align: center;
		color:$primary-color;
		background-color: $highlight-color;
		width: 1.3em;
		height: 1.3em;
		padding-top: 1%;
		border-radius: 10%;
	}
	.social-icon:hover {
		color:$highlight-color;
		background-color: $primary-color;
	}	
}