/** _blog.scss */
.blog-page {

	
	padding-top: 3em;

	width:auto;
	@media(max-width: 320px){
	

		.grid-div {
			margin-bottom: 2.5%;
		}
		
	}
	@media(max-width: $screen-sm-min){
		.grid-div {
			margin: auto;
			margin-bottom: 2em;
			width:60%;
		}
	}
	.blog-grid-row {
		margin-bottom: 1%;
	}
		
	.grid-div {
		display: inline-block;
		display: inline-flex;
		padding-left: .4%;
		padding-right: .4%;
		

	}
	.grid-div-background {
		background-color: rgb(244, 244, 244);
		width: 100%;
		height: 100%;
		padding-left:.5%;
		padding-right:.5%;
	}

	.grid-img-text-blocks-wrapper {
		
		width:100%;
		display: block;
		overflow: hidden;
	}

	.grid-post-link {
		width: 100%;
	}	
	.grid-div:hover .grid-post-link {
		text-decoration: none;
	}
	.grid-img-block {
		width: 100%;
		height:11em;
		display: inline-block;
		display: inline-flex;

		.grid-post-img {
			width: 100%;
			height: 11em;
		}
	}
	
	.grid-text-block {
		width:100%;
		height:5em;
		
		.grid-text {
			width: 100%;
			height: 4em;
			color: #000000;
			font-size: 1.2em;
			font-weight: 700;
			padding-left: .5em;
			padding-right: .5em;
			text-align: left;
			line-height: 1em;
		}
	}
	.grid-text-social-icons {
		padding-left: 1em;
		padding-bottom: 1em;
		text-align: left;
		font-size: .7em;
		.social-icon {
			text-align: center;
			color:$primary-color;
			background-color:rgba(194, 194, 194, 0.73);
			width: 1.3em;
			height: 1.3em;
		}
		.social-icon:hover {
			color:rgba(194, 194, 194, 0.73);
			background-color: $primary-color;
		}
	}
	.grid-blog-pagination-block {
		text-align: center;
		margin-top: 1em;
		margin-bottom: 1.5em;
		font-size: 1em;
		.wp-pagenavi {
			@extend .solid-grey-background;
			display: inline;
			padding: .5em;
			a, span {
				color: #000000;
				padding: .25em;
				padding-left: .7em;
				padding-right: .7em;
			}
			a:hover {
				text-decoration: none;
				color:$highlight-color;
			}
			span.current {
				border: 2px solid $highlight-color;
				border-radius: 50%;
				color: $highlight-color;
			}
		}
	}
	.grid-blog-pagination {
		color: #000000;
		display: inline-block;
		padding: 5px;
		font-size: 1em;
		font-weight: bold;
	}
	.grid-blog-pagination-left > a {
		text-decoration: none;
		color: #000000;
	}
	.grid-blog-pagination-right > a {
		text-decoration: none;
		color: #000000;
	}
	

}