.home-page {
	.featured-fade-slideshow {
		height: 25em;
	}
	.header_slideshow_text {
		.position: relative;
		margin-top: 0px;
		padding-top:2.8em;
		@extend .text-right;
		padding-right:22%;
		@extend .white-text;
		@extend .text-black-shadow;
		@media (max-width: $screen-sm-min){
			text-align: center;
		}
	}
	.header_slideshow_link {
		@extend .white-text;
		text-decoration: none;
	}
	.header_slideshow_link :hover {
		text-decoration: none;
		@extend .white-text;
	}

	.header_slideshow_link :visited {
		text-decoration: none;
		@extend .white-text;
	}

	.commitment {

		padding-top: 3em;
		padding-bottom: 3em;

		.commitment-text-header {
			@extend .text-center;
		}
		.coach-block {
			@extend .text-right;
			right: -3em;
			@media (max-width: $screen-sm-min){
				text-align: center;
				right: 0em;
			}
		}
		.coach-list, .consultant-list {
			@extend .list-unstyled;
		}
		.consultant-block {
			@extend .text-left;
			left: -3em;
			@media (max-width: $screen-sm-min){
				text-align: center;
				left: 0em;
			}
		}
		.commitment-amperstand {
			@extend .text-center;
		}
		.commitment-amperstand-p {
			@extend .text-center;
			width: 1.6em;
			font-size: 1.9em;
			color: $primary-color;
			background-color: $highlight-color;
			border-radius: 50%;
			margin: auto;
		}
	}
	.speaker-with-heart {
		height: 25em;
		.speaker_with_heart_link {
			@extend .header_slideshow_link;
		}
		.speaker_with_heart_text {
			@extend .header_slideshow_text;
		}
		.all-services-link-div{
			@extend .text-center;
			font-size: 1.6em;
			line-height: 1.8em;
			color: $primary-color;
			background-color: $highlight-color;
			margin: auto;
			border-radius: 50%;
			position:relative;
			z-index:1;
			top:-3em;
			height: 7em;
			width: 6.6em;
			padding-top: 2%;

			.all-services-link {
				color:$primary-color;
			}
			.all-services-link:hover {
				color:$primary-color;
				text-decoration: none;
				
			}
			.all-services-link:visited {
				color:$primary-color;
				text-decoration: none;
				
			}
			.all-services-link-greater-than {
				font-size: 1.8m;
			}
		}


	}
	.about-lolly {
		@extend .grey-background;
		
	}
}