/**single_post.scss*/
.post-page {
	@extend .grey-background;

	.post-container {
		margin-top:3em;
		margin-bottom:3em;
		padding-top: 1em;
		padding-bottom: 1em;
		background-color: $primary-color;

		@media(max-width: 320px){
			margin-left: 2.5%;
			margin-right: 2.5%;
			width:95%;
		}
		@media(max-width: $screen-md-max){
			padding-left:2em;
			padding-right: 2em;
		}
		
		img {
			width: 80%;
			margin-top:2em;
			margin-bottom: 2em;
			margin-left:10%;
		}
		.post-header {
			text-transform: none;
			margin-top:1em;
			font-weight: 900;
			text-shadow: none;
		}
		.post-content {
			text-align: left;

		}
		.sharedaddy {
			padding-top: 1em;
		}
		.post-tags {
			text-align: left;
			padding-bottom: 1em;
		}

	}
	.post-bio-white-container {
		background-color: $primary-color;
		margin-top:1em;
		margin-bottom:1em;
		padding-top:3em;
		padding-bottom: 3em;
		text-align: left;
		@media(max-width: 320px){
			margin-left: 2.5%;
			margin-right: 2.5%;
			width:95%;
		}
		@media(max-width: $screen-md-max){
			padding-left:2em;
			padding-right: 2em;
		}

		img {
			@extend .img-circle;
			float: left; 
			margin: 0 1em 1em 0;
		}
	}
}